.bg-img { 
  background-image: url(images/hero.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
  height: 71vh
}

.searchMenuItems{
  color: white;
}

.searchMenuItems li{
  font-family: 'Heebo', sans-serif;  
  font-size: 13px;  
  font-weight: 600;
  padding: 20px;
  margin-left: 30px; 
  display: inline-flex
}

@media  screen and (max-width: 768px) {
  .searchMenuItems li{
    font-family: 'Heebo', sans-serif;  
    font-size: 13px;  
    font-weight: 600;
    padding: 15px;
    margin-top: 25px;
    margin-left: 0;
  }
  .bg-img { 
    text-align: center;
  }
}

.welcomeSection{
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;  
  margin-top: 10px;
}

.welcomeSection div p:first-child{
  margin-top: 10px;
  font-weight: 600;
  font-size: 22px  
}

.welcomeSection div p:nth-child(2){
  margin-top: 5px;
  font-weight: 600;
  font-size: 70px;
  letter-spacing: 8px;
}

@media  screen and (max-width: 768px) {
  .welcomeSection div p:nth-child(2){
    margin-top: 5px;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 8px;
  }
}

.welcomeSection div p:nth-child(2) span{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 6px;
}

.welcomeSection div p:last-child{
  margin-top: 20px;
  font-weight: 600;
  font-size: 22px  
}

.dateSelectSection{
  background-color: white;
  width: 60%;
  text-align: center;
  margin-left: 20%;
  border-radius: 5px;
  margin-top: 10px;
}

@media  screen and (max-width: 768px) {
  .dateSelectSection{
    background-color: white;
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
    border-radius: 0px;
  }
}

.title-section{
  padding-top: 45px;
  color: #000;
  font-family: 'Heebo', sans-serif;  
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 3px;
}

.dateComponents{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.checks{
  text-align: left;
  font-size: 19px;
  margin-top: 10px;
  letter-spacing: 1px;
}


.checks div:last-child{
  margin-top: 32px;
}

.checks div p:first-child{
  color: #555555;
  font-weight: 500;
}

.checks div p:last-child{
  color: #b5b5b5
}

.checks div p:last-child span{
  font-weight: bold;
}


@media  screen and (max-width: 768px) {
  .dateComponents{
    display: flex;
    flex-direction: column-reverse;
  }
  .checks{
    display: none;
  }
}

.searchHotelButtonDisabled {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #f98100;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px 10px 20px;
  border: solid #f98100 2px;
  text-decoration: none;
  background-color: transparent;
  margin-top: 20px;
  text-align: left;
  margin-left: -28px;
}


.searchHotelButtonEnabled {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px 10px 20px;
  border: solid #f98100 2px;
  text-decoration: none;
  background-color: #f98100;
  margin-top: 20px;
  text-align: left;
  margin-left: -28px;
  cursor: pointer;
}

.socialFooter{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 70px;
}

.socialFooter img{
  padding: 10px;
}

.socialFooter p{
  padding-bottom: 20px;
  font-size: 11px;
  color: #b5b5b5;
}

.resultsSection{
  text-align: center
}

@media  screen and (max-width: 768px) {
  .resultsSection{
    padding: 0px 30px !important;
  }
}

.cardResult {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
}
.cardResult .img{
  background-color: blue;
  flex-basis: 25%;
  border-radius: 5px;
}

.cardResult .desc{
  flex-basis: 60%;
  text-align: left;
  padding: 5px 20px;
  font-size: 11px;
  letter-spacing: 2px;
}

.cardResult .desc .descTitle{
  text-transform: uppercase;
  color: #f98100;
  font-size: 13px;
  font-weight: bold;
}

.cardResult .desc .descPar{
  color: #b5b5b5;
  font-size: 11px;
  letter-spacing: 1px;
  font-family: 'Heebo'
}

.viewHistorybutton {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: 	#3CB371;
  font-size: 11px;
  font-weight: 700;
  padding: 10px 20px 10px 20px;
  border: solid 	#3CB371 2px;
  text-decoration: none;
  margin-top: 20px;
  text-align: left;
  margin-left: 10px;
  cursor: pointer;
  background-color: transparent;
}

.bookNowButton {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #f98100;
  font-size: 11px;
  font-weight: 700;
  padding: 10px 20px 10px 20px;
  border: solid #f98100 2px;
  text-decoration: none;
  background-color: transparent;
  margin-top: 20px;
  text-align: left;
  margin-left: -3px;
}

.buttonsDescContainer{
  display: inline-flex
}

.cardResult .total{
  border-left: 1px solid #b5b5b5;
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}

.cardResult .total p:first-child{
  font-size: 15px;
  color: #b5b5b5;    
  font-weight: 100;
  letter-spacing: 1px;
}

.cardResult .total p:nth-child(2){
  font-size: 29px;
  color: #3CB371;
  font-family: 'Montserrat';
  font-weight: 600;
  margin-top: -20px;
}

@media  screen and (max-width: 768px) {  

  .cardResult {
    flex-direction: column;
    min-height: 500px;
  }
  
  .cardResult .img{
    min-height: 200px;
  }

  .cardResult .desc{
    flex-grow: 1
  }
  .cardResult .total{
    text-align: center;
    border: 0;
    border-bottom: 1px solid #b5b5b5;
    margin-top: 15px;
  }
  .cardResult .total p:nth-child(2){
    font-size: 15px;
    color: #3CB371;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: -20px;
  }
  .buttonsDescContainer {
    display: inline-flex;
    width: 150%;
  }
}